Repository trucknet-io/react-targem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

fix(tsc): 🐛 Fixes build issue because of making a renderComponent method private
  src/utils/createContextHOC.tsx
Due: prettier --write, tslint --fix

release: 🏹 v1.5.6
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ Added ability to only format a number, updates TS dependencies
  README.md
  __utils__/setupTests.ts
  bundle-sizes.lock
  package-lock.json
  package.json
  src/components/T.spec.tsx
  src/components/T.tsx
  src/localization/gettext.ts
  src/localization/interpolators.spec.ts
  src/localization/interpolators.ts
  src/localization/translators.spec.ts
  src/localization/translators.ts
  src/localization/types.ts
  src/utils/constants.ts
  src/utils/createContextHOC.tsx
Due: prettier --write, tslint --fix

release: 🏹 v1.6.0
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 Added TargemStatefulBase to exports
  README.md
  bundle-sizes.lock
  src/components/TargemStatefulProvider.tsx
Due: prettier --write, tslint --fix

release: 🏹 v1.6.1
  package-lock.json
  package.json
Due: prettier --write

feat(TargemProvider): ✨ useLocale hook
  dev/src/i18n/en-GB.po
  dev/src/i18n/he.po
  dev/src/i18n/ru.po
  dev/src/i18n/template.pot
  dev/src/layouts/Body.tsx
  dev/src/layouts/InnerFC.tsx
  src/components/TargemProvider.spec.tsx
  src/components/TargemProvider.tsx
Due: prettier --write, tslint --fix

chore(deps): 🤖 Run npm update
  package-lock.json
  package.json
  src/localization/interpolators.spec.ts
Due: prettier --write, tslint --fix

chore(deps): 🤖 Run npm i
  package-lock.json
Due: prettier --write

docs: 📝 Updated bundle sizes info
  README.md
  bundle-sizes.lock
Due: none

release: 🏹 v1.7.0
  package-lock.json
  package.json
Due: prettier --write

release: 🏹 v1.7.1
  package-lock.json
  package.json
Due: prettier --write

docs(readme): add a not about useLocale hook
  README.md
Due: none

docs: 📝 Added important note about plural forms to readme
  README.md
Due: none

Path conditions:
  prettier --write: ((any of: *.json) or (any of: *.ts)) or (any of: *.tsx)
  tslint --fix: (any of: *.ts) or (any of: *.tsx)
