Repository trucknet-io/react-targem: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.tsx": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ]
}

feat: ✨ Added ability to format numbers in translation scope
  config/languagesRegex.js
  dev/src/i18n/en-GB.po
  dev/src/i18n/he.po
  dev/src/i18n/ru.po
  dev/src/i18n/template.pot
  dev/src/layouts/Body.tsx
  dev/src/layouts/Inner.tsx
  src/components/T.tsx
  src/components/TargemProvider.tsx
  src/localization/gettext.ts
  src/localization/interpolators.ts
  src/localization/translators.ts
  src/localization/types.ts
Due: prettier --write, tslint --fix

docs: 📝 Updated README, removed helper functions export to reduce bundle size
  README.md
  bundle-sizes.lock
  src/localization/interpolators.ts
Due: prettier --write, tslint --fix

test: 💍 Added tests for formatNumbers feature
  .vscode/launch.json
  README.md
  __utils__/fixtures/translations.json
  bundle-sizes.lock
  dev/src/layouts/Body.tsx
  package-lock.json
  package.json
  src/components/T.spec.tsx
  src/components/T.tsx
  src/localization/interpolators.spec.ts
  src/localization/interpolators.ts
  src/localization/translators.spec.ts
Due: prettier --write, tslint --fix

fix: 🐛 Fixed ts-node issue with @lib import
  config/languagesRegex.js
  dev/src/config/locales.ts
Due: prettier --write, tslint --fix

chore: 🤖 full-icu-npm package was replaced with intl polyfill
  .vscode/launch.json
  __utils__/setupTests.ts
  package-lock.json
  package.json
  src/localization/interpolators.spec.ts
Due: prettier --write, tslint --fix

release: 🏹 v1.1.0
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ Added ability to auto detect locale and fallback to defaultLocale
  README.md
  bundle-sizes.lock
  src/components/T.spec.tsx
  src/components/TargemProvider.spec.tsx
  src/components/TargemProvider.tsx
  src/components/TargemStatefulProvider.spec.tsx
  src/components/TargemStatefulProvider.tsx
  src/utils/locale.ts
Due: prettier --write, tslint --fix

docs(README): 📝 blank lines
  README.md
Due: none

release: 🏹 v1.2.0
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 Dont throw error if locale not found, return undefined instead
  src/utils/locale.spec.ts
  src/utils/locale.ts
Due: prettier --write, tslint --fix

fix: 🐛 Fixed release flow
  README.md
  bundle-sizes.lock
  config/deployment/release.sh
  config/file-size.js
Due: none

feat: ✨ New <T> props (component, componentProps), added code docs
  src/components/T.tsx
  src/components/TargemProvider.tsx
  src/components/TargemStatefulProvider.tsx
Due: prettier --write, tslint --fix

docs: 📝 Updated README
  README.md
  bundle-sizes.lock
Due: none

test: 💍 Added T.props.component unit test
  src/components/T.spec.tsx
Due: prettier --write, tslint --fix

release: 🏹 v1.3.0
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 Improved locale detection
  README.md
  bundle-sizes.lock
  src/utils/locale.ts
Due: prettier --write, tslint --fix

release: 🏹 v1.4.0
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 Export translators from the last provider value
  README.md
  bundle-sizes.lock
  src/components/TargemProvider.tsx
Due: prettier --write, tslint --fix

release: 🏹 v1.5.0
  package-lock.json
  package.json
Due: prettier --write

chore: 🤖 Removed redundant warnings, added ability to hide warnings with env var
  README.md
  bundle-sizes.lock
  src/localization/gettext.spec.ts
  src/localization/gettext.ts
  src/utils/constants.ts
Due: prettier --write, tslint --fix

release: 🏹 v1.5.1
  package-lock.json
  package.json
Due: prettier --write

fix: 🐛 Translations types compatibility with latest gettext-utils
  src/localization/types.ts
Due: prettier --write, tslint --fix

release: 🏹 v1.5.2
  package-lock.json
  package.json
Due: prettier --write

fix: 🐛 Fixed release flow
  config/deployment/release.sh
  package.json
Due: prettier --write

release: 🏹 v1.5.3
  package-lock.json
  package.json
Due: prettier --write

fix: 🐛 Fixed pluralized translation bug with count 0
  dev/src/i18n/en-GB.po
  dev/src/i18n/he.po
  dev/src/i18n/ru.po
  dev/src/i18n/template.pot
  dev/src/layouts/Body.tsx
  src/components/T.spec.tsx
  src/components/T.tsx
Due: prettier --write, tslint --fix

chore: 🤖 Updated dependencies
  README.md
  __utils__/setupFramework.ts
  bundle-sizes.lock
  dev/src/i18n/en-GB.po
  dev/src/i18n/he.po
  dev/src/i18n/ru.po
  dev/src/i18n/template.pot
  dev/src/layouts/Body.tsx
  dev/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, tslint --fix

docs: 📝 Updated bundle sizes info
  README.md
  bundle-sizes.lock
Due: none

release: 🏹 v1.5.4
  package-lock.json
  package.json
Due: prettier --write

test: 💍 Added coverage upload to coveralls
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ Converted release sh script to js
  .vscode/launch.json
  config/deployment/release.sh
  config/release.js
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ yesno package replaced with own function
  config/release.js
  package-lock.json
  package.json
Due: prettier --write

feat: ✨ mv command replaced with js, extracted few helpers
  config/fileSize.js
  config/helpers.js
  config/release.js
  config/renameMjs.js
  package.json
Due: prettier --write

design(warning): 💄 Updates the information about condition when alert is shown
  src/utils/debug.spec.ts
  src/utils/debug.ts
Due: prettier --write, tslint --fix

fix: 🐛 Silent jest tests
  .env-cmdrc
  package-lock.json
  package.json
  src/utils/debug.spec.ts
  src/utils/locale.spec.ts
  src/utils/locale.ts
Due: prettier --write, tslint --fix

fix: 🐛 Proper rollup setup to avoid warnings in test environments
  README.md
  bundle-sizes.lock
  config/rollup.config.js
  package.json
Due: prettier --write

release: 🏹 v1.5.5
  package-lock.json
  package.json
Due: prettier --write

chore(createContextHOC): 🤖 Updates to add a possibility to override HOC'\''s methods
  src/components/TargemStatefulProvider.spec.tsx
  src/utils/createContextHOC.tsx
Due: prettier --write, tslint --fix

fix: 🐛 Fixed typo TargemStatefulProvider
  src/components/TargemStatefulProvider.spec.tsx
Due: prettier --write, tslint --fix
